<div class="emailContact">
    <form action="/send" method="post" class="admin-login-form">
        <label for="email">Email for contact:</label>
        <input type="text">
        <label for="contact">Reason for contact?</label>
        <textarea type="text" name="co" id=""></textarea>
        <button>Send</button>
    </form>
</div>