<h1>This is home</h1>

<form action="/subscribe" method="post">
    <label for="mail">Sign up to the newsletter!</label>
    <input type="text" id="mail" name="mail" required>
    <a href="">By signing up you agree to the terms and conditions</a>
    <button>Sign up!</button>
</form>

