<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>All about you and for you podcast</title>
  <base href="/" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <main role="main" class="container">
      <%- include('../partials/flash') %>
        <%- body %>
    </main>
</body>
</html>